$warning-color-base: #ffd72a;
$warning-color-dark: darken($warning-color-base, 20%);
$sucess-color-base: #007B55;
$sucess-color-dark: darken($sucess-color-base, 20%);
$danger-color-base: #FF5555;
$danger-color-dark: darken($danger-color-base, 20%);
